<launch>

   <node name="octomap" pkg="octomap_server" type="octomap_server_node">
      <param name="frame_id" type="string" value="camera_init" />
      <param name="base_frame_id" type="string" value="base_link" />
      <param name="height_map" type="bool" value="true" />
      <param name="resolution" value=".05" />
      <param name="latch"  value="false" />
      <param name="sensor_model/max_range" value="90.0" />
      <remap from="cloud_in" to="velodyne_cloud_registered" />
   <!--   <remap from="projected_map" to="map" /> -->
   </node>

</launch>
